body{
    background-color: #007AC4;
    
}
div p {
   align-items: center;
   align-content: center;
   text-align: center;
  
   color: #fff;
  
}
header{
    align-items: center;
    align-content: center;
    text-align: center;
}
.container{
   
    flex-wrap: wrap;
    width:80vw ;
    height:80vh ;
    position: absolute;
    left: 10%;
    display: flex;
}
div[class=left]{
    border: solid 4px white;
    width: 49%;
    height: 90%;
    border-radius: 4% 0  0  4%  ;
    position: absolute;  
   background-color: #014A72;
}

.welcome{
    border-bottom: solid 3px white;
    height:16% ;
    width: 100%;
    position: absolute;
}
.product{
    position: absolute;
    height: 30%;
    width: 60%;
    top: 16%;
    left:  40%;
    border-bottom: solid 3px white;
}
.reglas{
    top: 47%;
    position: absolute;   
    height: 30%;
    width: 60%;
    left:  40%;
   
}
#img{
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background:url(../images/image4.jpeg);
    background-size:cover;
    background-position: center;
    border-right: solid 3px white ;
  
    height: 60% ;
    width:40% ;
    top: 16.5%;
    position: absolute;
}

.reservclas{
    width: 100%;
    height:23% ;
    bottom:0 ;
    position: absolute;
    border-top: solid 3px white; 
}
.left:hover{
    box-shadow:  0px 0px 35px   rgb(171, 186, 223) ;
    cursor: pointer;
}
div[class=rigth]{
    border: solid 4px white;
    width: 49%;
    height: 90%;
    right: 0;
    position: absolute;
    border-radius:0  4%    4%  0 ;
    background-color: #014A72;  
    align-items: center;
    align-content: center;
    
}
.horario{
    border-bottom: solid 3px white;
    height:16% ;
    width: 100%;
    position: absolute;
    line-height: 5px;
   
}
.horario:hover{
    border-radius:0  4%    0  0 ;
    background: linear-gradient(to top, rgb(117, 157, 226),#014A72);
}

.ultimos_juegos{
    position: absolute;
    height: 30%;
    width: 60%;
    top: 16%;
    right:  40%;
    border-bottom: solid 3px white;
}
#ultimos_partidos{
    margin-left: 15%;
}
#cabecera_puntos{
    background-color: #1d95df;
}
#puntos_equi{
    background-color: #fff;
}
#fila_1:hover{
    background-color:  #007AC4;
}
#fila_2:hover{
    background-color:  #007AC4;
}
.blog{
    top: 47%;
    position: absolute;   
    height: 30%;
    width: 60%;
    right:   40%;
}
.clases_privadas{
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background:url(../images/imagen_5.jpeg);
    background-size:cover;
    background-position: center;
    position: absolute;
    border-left: solid 3px white ;
    height: 60%;
    width:40% ;
    right: 0%;
    top: 16.5%;
    position: absolute;
    justify-content: center;
    justify-items: center;
}
.clases_privadas:hover::after{
    
    content: "clases privadas";
    font-size:20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

   
}
.clases_privadas:hover{
    filter: grayscale(0.5);
  
   
}

.ubicacion{
    width: 100%;
    height:23% ;
    bottom:0 ;
    position: absolute;
    border-top: solid 3px white ;
   
}
.rigth:hover{
    box-shadow:  0px 0px 35px   rgb(171, 186, 223) ;
    cursor: pointer;
}