
body{
    font-family: 'Dancing Script', cursive;
    margin: 0;
    margin-bottom: 5em;    
}
header {
    background: linear-gradient(to right , rgb(62, 62, 193), rgb(156, 207, 242)  , white,white);
    display:flex;
    height: 5em;
    width: 100%; 
    font-size:2em;
    font-size: 1.5em;
    font-weight: 700;
    justify-content: space-between;
    margin-bottom: 2em;
}
h1{
   font-family:'Courier New', Courier, monospace;
}
header img{
    

    width: 4em;
    margin: 1em;
    border-radius: 5%;
}
.primary{
    text-align: center;
}
p{
    font-weight: 400;
    font-size: 1.5em;
    padding: 10px;
    margin: 0 10px;
    letter-spacing: 5px;
    line-height: 2;
}
picture img {
    width: 75%;
    max-width: 1000px;
    margin: 1em;
    border-radius: 1em;
}

footer{
 position:fixed;
 bottom: 0%;
 background-color: gray;
 width: 100%;
 text-align: center;
 font-family:cursive;
 font-size: 2em;
}
@media print {
    body {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    header {
        padding: 0;
        font-size: 1em;
        margin-bottom: 0;
    }

    header img{
        display: none;
    }

    p {
        line-height: 1;
        font-size: 1em;
        letter-spacing: normal;
        color: purple;
    }

    picture {
        border-radius: 0;
    }
}

@media screen and (max-width: 500px) {

    body {
        color: red;
        background-color: cadetblue;
    }
    footer {
        background-color: purple;
    }
}

@media screen and (max-width:1024px) {
    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    header{
        font-size: 1.25em;
        background: navy;
    }

    p {
        line-height: 1.25;
        letter-spacing: 0.25em;
        font-size: 1.15em;
        color: red;
    }

    header img {
        display: none;
    }
}



  
  